<h2 class="mb-3">
  <i class="fas fa-graduation-cap mr-1"></i>
  Education
</h2>

<%= data.personal_information.education.title %>,
<%= data.personal_information.education.period %><br />
<strong><%= data.personal_information.education.university %></strong>
