<h2 class="mb-3 mt-3 mt-sm-0">
  <i class="fas fa-comments mr-1"></i>
  English Skill
</h2>

<dl class="row">
  <dt class="col-4 col-md-2">Reading</dt>
  <dd class="col-8 col-md-4"><%= data.personal_information.english_level.reading %></dd>

  <dt class="col-4 col-md-2">Writing</dt>
  <dd class="col-8 col-md-4"><%= data.personal_information.english_level.writing %></dd>

  <dt class="col-4 col-md-2">Listening</dt>
  <dd class="col-8 col-md-4"><%= data.personal_information.english_level.listening %></dd>

  <dt class="col-4 col-md-2">Speaking</dt>
  <dd class="col-8 col-md-4"><%= data.personal_information.english_level.speaking %></dd>

</dl>
